@import "normalize.scss";
@import "fonts";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 137.02%;

  position: relative;

  color: rgba($color: #fff, $alpha: 0.5);
  background-color: #131313;
}

.container {
  max-width: 1202px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@import "blocks/header";
@import "blocks/nav";
@import "blocks/logo";
@import "blocks/intro";
@import "blocks/info";
@import "blocks/cards";
@import "blocks/features";
@import "blocks/usage";
@import "blocks/roadmap";
