.header {
  position: absolute;
  left: 0;
  top: 61px;
  z-index: 10;

  width: 100%;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: $mobile) {
  .header {
    top: 30px;

    height: 28px;
  }
}
