.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  text-decoration: none;

  &--footer {
    .logo__brand {
      width: 24px;
      height: 22.02px;

      margin-right: 8px;
    }

    .logo__text {
      font-size: 20px;
      line-height: 24px;
    }
  }
}

.logo__brand {
  width: 34.69px;
  height: 31.83px;
  margin-right: 16px;
}

.logo__text {
  font-family: "Lack";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 100%;
  letter-spacing: -0.09em;
  text-transform: uppercase;
  color: #ffffff;
}

@media (max-width: $mobile) {
  .logo {
    &--footer {
      margin-bottom: 20px;
    }
  }

  .logo__brand {
    width: 23px;
    height: auto;
    margin-right: 11px;
  }

  .logo__text {
    font-size: 23px;
    line-height: 1.2;
  }
}
