.roadmap {
  margin-bottom: 293px;
}

.roadmap__title {
  font-family: "Lack";
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 100%;

  margin-bottom: 62px;

  letter-spacing: -0.02em;
  text-transform: lowercase;

  color: #ffffff;
}

.roadmap__list {
  position: relative;
  right: -114px;

  display: flex;
  align-items: flex-start;
  justify-content: flex-end;

  list-style: none;
}

.roadmap__item {
  margin-right: 12px;

  &:last-child {
    margin-right: 0;
  }
}

.roadmap__card {
  padding: 20px;
  width: 315.41px;

  background: #232323;
  border-radius: 13.3934px;
}

.roadmap__top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  margin-bottom: 46px;
}

.roadmap__date {
  font-size: 14px;
  line-height: 110%;

  color: #ffffff;

  opacity: 0.15;
}

.roadmap__circle {
  display: block;

  width: 10.05px;
  height: 10.05px;

  border-radius: 50%;

  &--blue {
    background: #0f59fa;
  }

  &--yellow {
    background: #e6fc35;
  }

  &--orange {
    background: #fe9426;
  }
}

.roadmap__name {
  font-weight: 400;
  font-size: 18px;
  line-height: 110%;

  color: #ffffff;
}

@media (max-width: $tablet) {
  .roadmap {
    margin-bottom: 220px;
  }

  .roadmap__title {
    font-size: 36px;
    line-height: 1.3;
    margin-bottom: 31px;
  }

  .roadmap__list {
    position: static;
    right: auto;

    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;

    margin: -6px;
  }

  .roadmap__item {
    margin: 6px;
    width: calc(50% - 12px);
  }

  .roadmap__card {
    height: 100%;
    width: 100%;
  }
}
