.usage {
  margin-bottom: 167px;
}

.usage__wrapper {
  position: relative;
  z-index: 1;

  margin-bottom: 96px;
}

.usage__list {
  position: relative;
  z-index: 3;

  max-width: 560px;
  width: 100%;

  list-style: none;
}

.usage__item {
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
  }
}

.usage__card {
  padding: 25px 30px;

  background: #1f1f1f;
  border-radius: 14.8558px;
}

.usage__title {
  font-family: "Lack";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;

  margin-bottom: 17px;

  letter-spacing: -0.02em;
  text-transform: lowercase;

  color: #ffffff;
}

.usage__accent {
  padding: 2px 0 2px 3.7px;
  &--blue {
    background: #0f59fa;
  }

  &--yellow {
    background: #e6fc35;
    color: rgba($color: #131313, $alpha: 0.5);
  }

  &--orange {
    color: #131313;
    background: #fe9426;
  }
}

.usage__bg {
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 2;

  width: 580px;
  height: 835px;

  transform: translateY(-50%);

  background: url("../../images/dist/usage.png") no-repeat center;
  background-size: contain;

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: url("../../images/dist/usage2x.png");
  }
}

.usage__phones {
  width: 100%;
  height: auto;
}

@media (max-width: $tablet) {
  .usage {
    margin-bottom: 85px;
  }

  .usage__wrapper {
    margin-bottom: 50px;
  }

  .usage__list {
    max-width: 100%;
  }

  .usage__bg {
    display: none;
  }
}

@media (max-width: $mobile) {
  .usage__card {
    padding: 15px;
  }

  .usage__title {
    font-size: 16px;
    line-height: 1.2;

    margin-bottom: 10px;
  }

  .usage__phones {
    width: 767px;
  }
}
